#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Update Pikdum's Tools
Exec=curl https://raw.githubusercontent.com/pikdum/steam-deck/master/install.sh | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
