#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Fallout New Vegas Post-Deploy
Exec=~/.pikdum/steam-deck-master/vortex/falloutnv-post-deploy.sh
Icon=steam_icon_22380
Terminal=true
Type=Application
StartupNotify=false
