#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Vortex
Exec=/home/deck/.pikdum/steam-deck-master/vortex/install-vortex.sh
Icon=/home/deck/.pikdum/steam-deck-master/vortex/vortex.ico
Terminal=true
Type=Application
StartupNotify=false
