#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Skyrim SE/AE Post-Deploy
Exec=/home/deck/.pikdum/steam-deck-master/vortex/skyrim-post-deploy.sh
Icon=steam_icon_489830
Terminal=true
Type=Application
StartupNotify=false
