#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Update Vortex Game Library
Exec=/home/deck/.pikdum/steam-deck-master/vortex/update-vortex-library.sh
Icon=/home/deck/.pikdum/steam-deck-master/vortex/update-vortex-library.ico
Terminal=true
Type=Application
StartupNotify=false
