#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Use Script Extender Launchers
Exec=/home/deck/.pikdum/steam-deck-master/vortex/use-script-extender-launchers.sh
Icon=/home/deck/.pikdum/steam-deck-master/vortex/use-script-extender-launchers.ico
Terminal=true
Type=Application
StartupNotify=false
